* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #A4AFA4;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  border-radius: 20px 40px 0px 80px;
}

section {
  border-radius: 20px 40px 0px 80px;
}
