* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 30px;
  padding: 0;
}

header {
  background-color: #CEFFCD;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #000000;
}

section {
  background-color: #000000;
  color: #FFFFFF;
  padding: 30px;
  border-radius: 20px 40px 0px 80px;
  margin: 30px;
}

.break {
  border-top: 4px solid #ff9700;
  height: 30px;
}

.lab-light {
  color: #CEFFCD;
}

.lab-dark {
  color: #0ECD0E;
}
